body{
    margin: 0;
    background-color: aqua;
}

.main-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.sub-container{
    padding: 10px;
    min-width: 500px;
}

.iconclose{
    background-color: rgb(230, 255, 5);
    border-radius: 50px;
    color: rgb(0, 0, 0);
    margin-right: -50px;
}

.iconclose:hover{
    cursor: pointer;
}